section#contact {
    background-color: white;
    padding: 100px 15px;
}


section#contact .container {
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 60px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 10px 50px -10px #d6d6d6;
}

section#contact .container .title {
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 60px;
}

section#contact .container .title h6 {
    font-size: 1.2em;
}

section#contact .container .title h3 {
    font-size: 2.8em;
}

section#contact .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

section#contact .container form input {
    width: 45%;
}

section#contact .container form input:hover {
    border-bottom: 2px solid #1fb3bf;
}

section#contact .container form textarea:hover {
    border-bottom: 2px solid #1fb3bf;
}


section#contact .container form input,
section#contact .container form textarea {
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

section#contact .container form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 60px;
}

section#contact .container form .button {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #1fb3bf;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0 auto;
    outline: none;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#contact .container form .button:hover {
    transform: translateY(-5px);
    box-shadow:rgb(214, 214, 214) 0px 10px 40px 0px #d6d6d6;
}

@media screen and (max-width:500px) {
  section#contact .container form {
        flex-direction: column;
        width: 95%;
  }
  section#contact .container form input {
    width: 100%;
  }

  section#contact .container .title h6 {
    font-size: 1em;
  }

section#contact .container .title h3 {
    font-size: 2em;
  }

}


.button:disabled {
    opacity: 0.5;
}


